<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">

</head>
<body>

  
<h2 style="text-align: center;">Admin Login </h2>

<div style="text-align: center;">

  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto; text-decoration: none; text-align: center;">Login</button>
</div>


<div id="id01" class="modal">
  
  
    <form class="modal-content animate" action="/login" method="post">  
  <h1 style="text-align: center; color:brown">ADMIN LOGIN</h1>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
        
      <button type="submit">Login</button>
     
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
     
    </div>

    
    
  </form>


 
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>







      