
<!DOCTYPE html>
<html>
<head> 

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>
		home page 
	</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">
    
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
   <div style="text-align: center;">
 <div class="header">
  <h1> <a href="webpage.html" style="text-decoration: none; color: rgb(8, 226, 26);"> DASHBOARD  </h1>

</div>

	 
	 <div class="head">
	
</div>
<div class="/register" >
	<button  style="  font-size: 16px;" ><a href="secret"> Admin Panel </button>

  </div>

  <br>
  <br>
	 	
  <div class="/developer">
	<button  style="  font-size: 16px;" ><a href="register"> New User  </button>

  </div>

  <BR>
    <BR>

    <div class="/developer" >
      <button  style="  font-size: 16px;" ><a href="/display?page=1&limit=5"> Show Users </button>
    
      </div>


      <BR>
      <BR>
      <div class="/developer" >
        <button  style="  font-size: 16px;" ><a href="logout"> Logout </button>
      
        </div>
  



  
  


</head>
</div>
<body>
	  
 
</body>

</html>

      